webapp/play
app.trace.db
play
node_modules
backup
bin
playground
build
build/**
!frontend/build
bin
.git
.settings
.vscode
.gradle
doc
app.todo
cSpell.json
gradlew*
.classpath
gradle/**
**stdout.log
.project
.swp
/application.properties
test
token.sh
dist/*.jar
dist/db

aksigorta.sql